/* стили формы регистрации */
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    position: relative;
    margin: auto;
    width: 400px;
 
    background-color: white;
    align-items: stretch;
    border: white;
    border-radius: 5%;
    padding:25px 15px;
}
 
.register__title{
    margin-top:0px
}

.register__form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height:400px;
    background-color:white;
}

.register__name {
    border: 3px solid lightseagreen;
    height:30px;
    border-radius: 5px;
}
.register__name:focus{
    border: 3px solid rgb(19, 10, 139); 
    outline:none;
    border-radius: 5px;
}

/*Стили кнопок*/
.button{
    height:30px;
    border-radius: 5px;
    border:lightseagreen;
}

.register__entrance-button{
    background-color:  lightseagreen;
    
}

.register__entrance-button:hover{
    background-color:rgb(25, 143, 137);
}

